.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

nav {
  height: 160px;
  padding: 8px 0;
  background: $white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  height: 140px;
  border-radius: 50%;
}

.nav-links a {
  margin-left: 16px;
}
